<header class='border-l-8 border-carblue-500 text-carblue-500 -ml-4 p-4 mb-8'>
  <h3 class='text-carblue-500'>Typography</h3>
  <p class='text-carblue-700 dark:text-carblue-300'>A typescale that will cover all your UI design needs</p>
</header>

<div class='mb-8'>
  <p>General rule of typography for this system:</p>
  <ul>
    <li>All titles use font Montserrat</li>
    <li>All body texts use font Poppins</li>
    <li>To be scalable in a consistant way, each title and body has a smaller version for mobile use</li>
  </ul>
</div>

<div class='mb-8 pt-4 border-t-2 border-neutral-300'>
  <div class='grid grid-cols-1 lg:grid-cols-style1 gap-x-20 gap-y-10'>
    <div class='text-neutral-500'>
      <h3>Display</h3>
      <p class='dark:text-neutral-300'>Display is reserved for landing pages, marketing pages where titles can be extremely bold and large.</p>
    </div>
    <div>
      <h1 class='display1'>Display1</h1>
      <h1 class='display2'>Display2</h1>
    </div>
  </div>

</div>


<div class='mb-8 pt-4 border-t-2 border-neutral-300'>
  <div class='grid grid-cols-1 lg:grid-cols-style1 gap-x-20 gap-y-10'>
    <div class='text-neutral-500'>
      <h3>Titles and subtitles</h3>
      <p class='mb-4 dark:text-neutral-300'>All titles and subtitles use font Montserrat.</p>
      <p class='mb-4 dark:text-neutral-300'>To be scalable in a consistant way, each title has a smaller version for mobile use.
        For example, use H2 on desktop and use H2 small for the same place on mobile.
        The smaller H2 size is actually the normal H3 size, but keep each title for its own purpose for the sake of SEO and semantic.
      </p>
      <p class='dark:text-neutral-300'>A good headline size for small screens might be somewhere between 20px and 24px.</p>
    </div>
    <div>
      <div>
        <div class='mb-8'>
          <h1>Heading1 bold</h1>
          <h1 class='semibold'>Heading1 semibold</h1>
        </div>
        <div class='mb-8'>
          <h2>Heading2 bold</h2>
          <h2 class='semibold'>Heading2 semibold</h2>
        </div>
        <div class='mb-8'>
          <h3>Heading3 bold</h3>
          <h3 class='semibold'>Heading3 semibold</h3>
        </div>
        <div>
          <h4>Heading4 bold</h4>
          <h4 class='semibold'>Heading4 semibold</h4>
        </div>
      </div>
      <div>
        <div class='mb-8'>
          <h1 class='sm'>Heading1 small bold</h1>
          <h1 class='sm semibold'>Heading1 small semibold</h1>
        </div>
        <div class='mb-8'>
          <h2 class='sm'>Heading2 small bold</h2>
          <h2 class='sm semibold'>Heading2 small semibold</h2>
        </div>
        <div class='mb-8'>
          <h3 class='sm'>Heading3 small bold</h3>
          <h3 class='sm semibold'>Heading3 small semibold</h3>
        </div>
        <div>
          <h4 class='sm'>Heading4 small bold</h4>
          <h4 class='sm semibold'>Heading4 small semibold</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='mb-8 pt-4 border-t-2 border-neutral-300'>
  <div class='grid grid-cols-1 lg:grid-cols-style1 gap-x-20 gap-y-10'>
    <div class='text-neutral-500'>
      <h3>Body</h3>
      <p class='mb-4 dark:text-neutral-300'>All body texts use font Poppins.</p>
      <p class='dark:text-neutral-300'>Body font sizes are mostly 16px or 14px for some secondary parts or on the mobile.</p>
    </div>
    <div class='dark:text-coolgrey-100'>
      <div class='mb-8'>
        <p>Body 16px</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, possimus.</p>
      </div>
      <div class='mb-8'>
        <p class='sm'>Body small 14px</p>
        <p class='sm'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, possimus.</p>
      </div>
      <div class='mb-8'>
        <p class='caption'>Caption 12px</p>
        <p class='caption'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, neque!</p>
      </div>
    </div>
  </div>
</div>

