<header class='border-l-8 border-carblue-500 text-carblue-500 -ml-4 p-4 mb-8'>
  <h3 class='text-carblue-500'>Icons</h3>
  <p class='text-carblue-300'>A selection of icons imported from Feather Icons</p>
</header>

<i-feather name="alert-circle"></i-feather>
<i-feather name="alert-triangle"></i-feather>

<i-feather name="archive"></i-feather>
<i-feather name="at-sign"></i-feather>
<i-feather name="award"></i-feather>
<i-feather name="bar-chart"></i-feather>
<i-feather name="bar-chart-2"></i-feather>
<i-feather name="battery"></i-feather>
<i-feather name="battery-charging"></i-feather>
<i-feather name="bell"></i-feather>
<i-feather name="bell-off"></i-feather>

<i-feather name="arrow-down-circle"></i-feather>
<i-feather name="arrow-left-circle"></i-feather>
<i-feather name="arrow-right-circle"></i-feather>
<i-feather name="arrow-up-circle"></i-feather>

<i-feather name="arrow-down-left"></i-feather>
<i-feather name="arrow-down-right"></i-feather>
<i-feather name="arrow-up-left"></i-feather>
<i-feather name="arrow-up-right"></i-feather>
<i-feather name="arrow-down"></i-feather>
<i-feather name="arrow-up"></i-feather>
<i-feather name="arrow-left"></i-feather>
<i-feather name="arrow-right"></i-feather>

<i-feather name="github"></i-feather>

<p>Link: <a href='https://github.com/michaelbazos/angular-feather' target='_blank'>Feather Angular Github</a></p>
