<header class='border-l-8 border-carblue-500 text-carblue-500 -ml-4 p-4 mb-8'>
  <h3 class='text-carblue-500'>Colors</h3>
  <p class='text-carblue-300'>Every tint and shade you will need</p>
</header>


<div class='flex items-stretch mb-8'>
  <div class='w-1/4 mr-8'>
    <p>Primary</p>
    <p>determine the overall look of a site, used across all the interactive elements,
      such as CTA, links, inputs, active states, etc. Ultra-light shades can be useful as
      a tinted background for things like alerts, while darker shades work great for text.</p>
  </div>
  <div class='w-3/4 flex text-sm'>
    <div class='flex-1 p-4 bg-carblue-100 text-neutral-900'>100</div>
    <div class='flex-1 p-4 bg-carblue-300 text-neutral-900'>300</div>
    <div class='flex-1 p-4 bg-carblue-500 text-neutral-100'>500</div>
    <div class='flex-1 p-4 bg-carblue-700 text-neutral-100'>700</div>
    <div class='flex-1 p-4 bg-carblue-900 text-neutral-100'>900</div>
  </div>
</div>

<div class='flex items-stretch mb-8'>
  <div class='w-1/4 mr-8'>
    <p>Secondary</p>
    <p>accent color, used alongside the primary to communicate different things to the user,
      ideally eye-grabbing such as yellow, pink, teal to highlight a new feature</p>
  </div>
  <div class='w-3/4 flex text-sm'>
    <div class='flex-1 p-4 bg-caryellow-100 text-neutral-900'>100</div>
    <div class='flex-1 p-4 bg-caryellow-300 text-neutral-900'>300</div>
    <div class='flex-1 p-4 bg-caryellow-500 text-neutral-100'>500</div>
    <div class='flex-1 p-4 bg-caryellow-700 text-neutral-100'>700</div>
    <div class='flex-1 p-4 bg-caryellow-900 text-neutral-100'>900</div>
  </div>
</div>

<div class='flex items-stretch mb-8'>
  <div class='w-1/4 mr-8'>
    <p>Success</p>
    <p>depict an emotion of positivity, used across success, complete states</p>
  </div>
  <div class='w-3/4 flex text-sm'>
    <div class='flex-1 p-4 bg-success-100 text-neutral-900'>100</div>
    <div class='flex-1 p-4 bg-success-300 text-neutral-900'>300</div>
    <div class='flex-1 p-4 bg-success-500 text-neutral-100'>500</div>
    <div class='flex-1 p-4 bg-success-700 text-neutral-100'>700</div>
    <div class='flex-1 p-4 bg-success-900 text-neutral-100'>900</div>
  </div>
</div>

<div class='flex items-stretch mb-8'>
  <div class='w-1/4 mr-8'>
    <p>Error</p>
    <p>depict an emotion of negativity, used across error states</p>
  </div>
  <div class='w-3/4 flex text-sm'>
    <div class='flex-1 p-4 bg-error-100 text-neutral-900'>100</div>
    <div class='flex-1 p-4 bg-error-300 text-neutral-900'>300</div>
    <div class='flex-1 p-4 bg-error-500 text-neutral-100'>500</div>
    <div class='flex-1 p-4 bg-error-700 text-neutral-100'>700</div>
    <div class='flex-1 p-4 bg-error-900 text-neutral-100'>900</div>
  </div>
</div>

<div class='flex items-stretch mb-8'>
  <div class='w-1/4 mr-8'>
    <p>Neutral</p>
    <p>used as supporting secondary colors in backgrounds, text colors, seperators, models, etc.
      More shades of grey helps to create the hierarchy on the page</p>
  </div>
  <div class='w-3/4 flex text-sm'>
    <div class='flex-1 p-4 bg-neutral-100 text-neutral-900'>100</div>
    <div class='flex-1 p-4 bg-neutral-300 text-neutral-900'>300</div>
    <div class='flex-1 p-4 bg-neutral-500 text-neutral-100'>500</div>
    <div class='flex-1 p-4 bg-neutral-700 text-neutral-100'>700</div>
    <div class='flex-1 p-4 bg-neutral-900 text-neutral-100'>900</div>
  </div>
</div>

<div class='flex items-stretch'>
  <div class='w-1/4 mr-8'>
    <p>Shades</p>
    <p>greyscale, used for text, backgrounds, panels, form controls — almost everything in an interface is grey.</p>
  </div>
  <div class='w-3/4 flex text-sm'>
    <div class='flex-1 p-4 bg-shadow-100 text-neutral-900'>100</div>
    <div class='flex-1 p-4 bg-shadow-300 text-neutral-900'>300</div>
    <div class='flex-1 p-4 bg-shadow-500 text-neutral-100'>500</div>
    <div class='flex-1 p-4 bg-shadow-700 text-neutral-100'>700</div>
    <div class='flex-1 p-4 bg-shadow-900 text-neutral-100'>900</div>
  </div>
</div>
