<header class='border-l-8 border-carblue-500 text-carblue-500 -ml-4 p-4 mb-8'>
  <h3 class='text-carblue-500'>Buttons</h3>
  <p class='text-carblue-700 dark:text-carblue-300'>To let users know what will happen next, a button triggers an event or action.</p>
</header>

<main>
  <div class=mb-8>
    <h4>Normal buttons</h4>
    <div class='flex flex-col lg:flex-row mb-8'>
      <p class='lg:w-1/5'>Primary</p>
      <div class='lg:w-3/5 lg:flex flex-row justify-between'>
        <button class='btn btn-primary-blue mb-4'>Button CTA</button>
        <button class='btn btn-primary-blue mb-4'>Button CTA
          <i-feather name="bookmark"></i-feather>
        </button>
        <button class='btn btn-primary-yellow mb-4'>Button CTA</button>
        <button class='btn btn-primary-yellow mb-4'>Button CTA
          <i-feather name="send"></i-feather>
        </button>
      </div>
    </div>
    <div class='flex flex-col lg:flex-row mb-8'>
      <p class='lg:w-1/5'>Secondary</p>
      <div class='lg:w-3/5 lg:flex flex-row justify-between'>
        <button class='btn btn-sec-blue mb-4'>Button CTA</button>
        <button class='btn btn-sec-blue mb-4'>Button CTA
          <i-feather name="bookmark"></i-feather>
        </button>
        <button class='btn btn-sec-yellow mb-4'>Button CTA</button>
        <button class='btn btn-sec-yellow mb-4'>Button CTA
          <i-feather name="send"></i-feather>
        </button>
      </div>
    </div>
    <div class='flex flex-col lg:flex-row mb-8'>
      <p class='lg:w-1/5'>Tertiary</p>
      <div class='lg:w-3/5 lg:flex flex-row justify-between'>
        <button class='btn btn-tert-grey'>Button</button>
      </div>
    </div>
    <div class='flex flex-col lg:flex-row mb-8'>
      <p class='lg:w-1/5'>Disabled</p>
      <div class='lg:w-3/5 lg:flex flex-row justify-between'>
        <button class='btn btn-primary-blue is-disabled mb-4' disabled>Button CTA</button>
        <button class='btn btn-primary-blue is-disabled mb-4' disabled>Button CTA
          <i-feather name="bookmark"></i-feather>
        </button>
        <button class='btn btn-sec-yellow is-disabled mb-4' disabled>Button CTA</button>
        <button class='btn btn-sec-yellow is-disabled mb-4' disabled>Button CTA
          <i-feather name="send"></i-feather>
        </button>
      </div>
    </div>
    <div class='flex flex-col lg:flex-row mb-8'>
      <p class='lg:w-1/5'>Icon square</p>
      <div class='lg:w-3/5 lg:flex flex-row justify-between'>
        <button class='btn-icon green-bg mb-4'>
          <i-feather name="plus"></i-feather>
        </button>
        <button class='btn-icon red-bg mb-4'>
          <i-feather name="trash"></i-feather>
        </button>
        <button class='btn-icon blue-bg mb-4'>
          <i-feather name="menu"></i-feather>
        </button>
        <button class='btn-icon blue-bg mb-4'>
          <i-feather name="edit"></i-feather>
        </button>
      </div>
    </div>
    <div class='flex flex-col lg:flex-row mb-8'>
      <p class='lg:w-1/5'>Icon round</p>
      <div class='lg:w-3/5 lg:flex flex-row justify-between'>
        <button class='btn-icon green-bg btn-icon-rounded mb-4'>
          <i-feather name="plus"></i-feather>
        </button>
        <button class='btn-icon red-bg btn-icon-rounded mb-4'>
          <i-feather name="trash"></i-feather>
        </button>
        <button class='btn-icon yellow-bg btn-icon-rounded mb-4'>
          <i-feather name="menu"></i-feather>
        </button>
        <button class='btn-icon blue-bg btn-icon-rounded mb-4'>
          <i-feather name="edit"></i-feather>
        </button>
      </div>
    </div>
  </div>

  <div>
    <h4>Small buttons</h4>
    <div class='flex flex-col lg:flex-row mb-8'>
      <p class='lg:w-1/5'>Primary</p>
      <div class='lg:w-3/5 lg:flex flex-row justify-between'>
        <button class='btn btn-sm btn-primary-blue mb-4'>Button CTA</button>
        <button class='btn btn-sm btn-primary-blue mb-4'>Button CTA
          <i-feather name="bookmark"></i-feather>
        </button>
        <button class='btn btn-sm btn-primary-yellow mb-4'>Button CTA</button>
        <button class='btn btn-sm btn-primary-yellow mb-4'>Button CTA
          <i-feather name="send"></i-feather>
        </button>
      </div>
    </div>
    <div class='flex flex-col lg:flex-row mb-8'>
      <p class='lg:w-1/5'>Secondary</p>
      <div class='lg:w-3/5 lg:flex flex-row justify-between'>
        <button class='btn btn-sm btn-sec-blue mb-4'>Button CTA</button>
        <button class='btn btn-sm btn-sec-blue mb-4'>Button CTA
          <i-feather name="bookmark"></i-feather>
        </button>
        <button class='btn btn-sm btn-sec-yellow mb-4'>Button CTA</button>
        <button class='btn btn-sm btn-sec-yellow mb-4'>Button CTA
          <i-feather name="send"></i-feather>
        </button>
      </div>
    </div>
    <div class='flex flex-col lg:flex-row mb-8'>
      <p class='lg:w-1/5'>Tertiary</p>
      <div class='lg:w-3/5 lg:flex flex-row justify-between'>
        <button class='btn btn-sm btn-tert-grey'>Button</button>
      </div>
    </div>
    <div class='flex flex-col lg:flex-row mb-8'>
      <p class='lg:w-1/5'>Disabled</p>
      <div class='lg:w-3/5 lg:flex flex-row justify-between'>
        <button class='btn btn-sm btn-sm btn-primary-blue is-disabled mb-4' disabled>Button CTA</button>
        <button class='btn btn-sm btn-sm btn-primary-blue is-disabled mb-4' disabled>Button CTA
          <i-feather name="bookmark"></i-feather>
        </button>
        <button class='btn btn-sm btn-sec-yellow is-disabled mb-4' disabled>Button CTA</button>
        <button class='btn btn-sm btn-sec-yellow is-disabled mb-4' disabled>Button CTA
          <i-feather name="send"></i-feather>
        </button>
      </div>
    </div>
    <div class='flex flex-col lg:flex-row mb-8'>
      <p class='lg:w-1/5'>Icon square</p>
      <div class='lg:w-3/5 lg:flex flex-row justify-between'>
        <button class='btn-icon green-bg btn-icon-sm mb-4'>
          <i-feather name="plus"></i-feather>
        </button>
        <button class='btn-icon red-bg btn-icon-sm mb-4'>
          <i-feather name="trash"></i-feather>
        </button>
        <button class='btn-icon blue-bg btn-icon-sm mb-4'>
          <i-feather name="menu"></i-feather>
        </button>
        <button class='btn-icon blue-bg btn-icon-sm mb-4'>
          <i-feather name="edit"></i-feather>
        </button>
      </div>
    </div>
    <div class='flex flex-col lg:flex-row mb-8'>
      <p class='lg:w-1/5'>Icon round</p>
      <div class='lg:w-3/5 lg:flex flex-row justify-between'>
        <button class='btn-icon green-bg btn-icon-rounded btn-icon-sm mb-4'>
          <i-feather name="plus"></i-feather>
        </button>
        <button class='btn-icon red-bg btn-icon-rounded btn-icon-sm mb-4'>
          <i-feather name="trash"></i-feather>
        </button>
        <button class='btn-icon yellow-bg btn-icon-rounded btn-icon-sm mb-4'>
          <i-feather name="menu"></i-feather>
        </button>
        <button class='btn-icon blue-bg btn-icon-rounded btn-icon-sm mb-4'>
          <i-feather name="edit"></i-feather>
        </button>
      </div>
    </div>

  </div>
</main>
