<header class='border-l-8 border-carblue-500 text-carblue-500 -ml-4 p-4 mb-8'>
  <h3 class='text-carblue-500'>Form elements</h3>
  <p class='text-carblue-700 dark:text-carblue-300'>To...</p>
</header>

<main>
  <h3>Radio</h3>
  <form>
    <p>Please select your favourite animation:</p>
    <label for='onepiece' class='radio'>
      <input type='radio' id='onepiece' name='fav-anime' value='onepiece'>
      <div class='radio-primary'></div>
      One piece
    </label><br>
    <label for='demonslayer' class='radio'>
      <input type='radio' id='demonslayer' name='fav-anime' value='demonslayer'>
      <div class='radio-primary'></div>
      Demon slayer
    </label><br>
    <label for='dragonball' class='radio'>
      <input type='radio' id='dragonball' name='fav-anime' value='dragonball'>
      <div class='radio-primary'></div>
      Dragon ball
    </label><br>
  </form>
  <hr>
  <h3>Checkbox</h3>
  <p>Round checkbox</p>
  <form>
    <label for='cheesecake' class='checkbox'>
      <input type='checkbox' id='cheesecake' name='fav-food' value='cheesecake'>
      <div class='checkbox-primary checkbox-round'></div>
      Cheese cake
    </label><br>
    <label for='applepie' class='checkbox'>
      <input type='checkbox' id='applepie' name='fav-food' value='applepie'>
      <div class='checkbox-primary checkbox-round'></div>
      Apple pie
    </label><br>
    <label for='meatball' class='checkbox'>
      <input type='checkbox' id='meatball' name='fav-food' value='meatball'>
      <div class='checkbox-primary checkbox-round'></div>
      Meat ball
    </label><br>
  </form>
  <p>Square checkbox</p>
  <form>
    <label for='coffee' class='checkbox'>
      <input type='checkbox' id='coffee' name='fav-drink' value='coffee'>
      <div class='checkbox-primary'></div>
      Coffee
    </label><br>
    <label for='tea' class='checkbox'>
      <input type='checkbox' id='tea' name='fav-drink' value='tea'>
      <div class='checkbox-primary'></div>
      Tea
    </label><br>
    <label for='juice' class='checkbox'>
      <input type='checkbox' id='juice' name='fav-drink' value='juice'>
      <div class='checkbox-primary'></div>
      Juice
    </label><br>
  </form>


</main>
