<header class='border-l-8 border-carblue-500 text-carblue-500 -ml-4 p-4 mb-8'>
  <h3 class='text-carblue-500'>Buttons</h3>
  <p class='text-carblue-700 dark:text-carblue-300'>Various primary and secondary buttons</p>
</header>

<main>
  <div class=mb-8>
    <h4>Normal buttons</h4>
    <div class='flex'>
      <p>Primary</p>
      <button class='btn btn-primary-blue'>Button CTA</button>
      <button class='btn btn-primary-blue'>Button CTA
        <i-feather name="bookmark"></i-feather>
      </button>
      <button class='btn btn-primary-yellow'>Button CTA</button>
      <button class='btn btn-primary-yellow'>Button CTA
        <i-feather name="send"></i-feather>
      </button>
    </div>
    <div class='flex'>
      <p>Secondary</p>
      <button class='btn btn-sec-blue'>Button CTA</button>
      <button class='btn btn-sec-blue'>Button CTA
        <i-feather name="bookmark"></i-feather>
      </button>
      <button class='btn btn-sec-yellow'>Button CTA</button>
      <button class='btn btn-sec-yellow'>Button CTA
        <i-feather name="send"></i-feather>
      </button>
    </div>
    <div class='flex'>
      <p>Disabled primary</p>
      <button class='btn btn-primary-blue is-disabled' disabled>Button CTA</button>
      <button class='btn btn-primary-yellow is-disabled' disabled>Button CTA</button>
    </div>


  </div>
  <div>
    <h4>Small buttons</h4>
    <button class='btn btn-sm btn-primary-blue'>Button CTA</button>
    <button class='btn btn-sm btn-primary-yellow'>Button CTA</button>

  </div>
</main>
