
<div class='flex'>
  <ul class='side-menu w-72 border-r-2 p-4 h-screen overflow-auto fixed bg-neutral-100'>
   <!--  category title Atoms... -->
  <!--  component intro, will be the homepage showing, or clicking logo, bring it here too -->
    <li routerLinkActive='active'>
      <a routerLink='/colors'>Colors</a>
    </li>
    <li routerLinkActive='active'>
      <a routerLink='/typography'>Typography</a>
    </li>
  </ul>

  <div class='contents-wrapper p-4 ml-72'>
    <router-outlet></router-outlet>
  </div>
</div>


