<header class='border-l-8 border-carblue-500 text-carblue-500 -ml-4 p-4 mb-8'>
  <h3 class='text-carblue-500'>Visual indicators</h3>
  <p class='text-carblue-700 dark:text-carblue-300'>To...</p>
</header>

<main>
  <h3>Badge</h3>
  <div class='mb-8'>
    <span class='badge badge-basic mr-6'>Basic</span>
    <span class='badge badge-info mr-6'>Info</span>
    <span class='badge badge-warning mr-6'>Warning</span>
    <span class='badge badge-danger mr-6'>Danger</span>
    <span class='badge badge-success mr-6'>Success</span>
  </div>
  <div class='mb-8'>
    <span class='badge badge-lg badge-basic mr-6'>Basic</span>
    <span class='badge badge-lg badge-info mr-6'>Info</span>
    <span class='badge badge-lg badge-warning mr-6'>Warning</span>
    <span class='badge badge-lg badge-danger mr-6'>Danger</span>
    <span class='badge badge-lg badge-success mr-6'>Success</span>
  </div>
  <div class='flex mb-8'>
    <span class='notif mr-6'>1</span>
    <span class='notif mr-6'>10</span>
    <span class='notif mr-6'>48</span>
    <span class='notif mr-6'>99</span>
    <span class='notif mr-6'>...</span>
  </div>
  <hr>
  <h3>Tag</h3>


</main>
