<header class='border-l-8 border-carblue-500 text-carblue-500 -ml-4 p-4 mb-8'>
  <h3 class='text-carblue-500'>Color scheme</h3>
  <p class='text-carblue-700 dark:text-carblue-300'>Every tint and shade you will need</p>
</header>

<main class='px-8 pb-8'>

<h4>Brand colors</h4>
<div class='grid grid-cols-1 lg:grid-cols-4 gap-8 mb-8'>
  <div class='p-8 rounded-md bg-carblue-500 text-neutral-100'></div>
  <div class='p-8 rounded-md bg-caryellow-500 text-neutral-100'></div>
  <div class='p-8 rounded-md bg-success-500 text-neutral-100'></div>
  <div class='p-8 rounded-md bg-error-500 text-neutral-100'></div>
</div>

<p class='text-sm mb-4'>
  Each brand color has lighter and darker shades. Ultra-light shades can be useful as
  a tinted background for things like alerts, while darker shades work great for texts.
</p>
<div class='grid grid-cols-1 lg:grid-cols-4 gap-8 mb-8'>
  <div>
    <p>Primary</p>
    <div class='text-sm rounded-md overflow-hidden mb-8'>
      <div class='p-4 bg-carblue-100 text-neutral-900'>100</div>
      <div class='p-4 bg-carblue-300 text-neutral-900'>300</div>
      <div class='p-4 bg-carblue-500 text-neutral-100'>500</div>
      <div class='p-4 bg-carblue-700 text-neutral-100'>700</div>
      <div class='p-4 bg-carblue-900 text-neutral-100'>900</div>
    </div>
    <p class='text-sm'>
      Primary color determines the overall look of a site, used across all the interactive elements,
      such as CTA, links, inputs, active states, etc.
    </p>
  </div>
  <div>
    <p>Secondary</p>
    <div class='text-sm rounded-md overflow-hidden mb-8'>
      <div class='p-4 bg-caryellow-100 text-neutral-900'>100</div>
      <div class='p-4 bg-caryellow-300 text-neutral-900'>300</div>
      <div class='p-4 bg-caryellow-500 text-neutral-100'>500</div>
      <div class='p-4 bg-caryellow-700 text-neutral-100'>700</div>
      <div class='p-4 bg-caryellow-900 text-neutral-100'>900</div>
    </div>
    <p class='text-sm'>
      Accent color is used alongside the primary color to highlight a different feature.
      The accent yellow can also be used as a warning color.
    </p>
  </div>
  <div>
    <p>Success</p>
    <div class='text-sm rounded-md overflow-hidden mb-8'>
      <div class='flex-1 p-4 bg-success-100 text-neutral-900'>100</div>
      <div class='flex-1 p-4 bg-success-300 text-neutral-900'>300</div>
      <div class='flex-1 p-4 bg-success-500 text-neutral-100'>500</div>
      <div class='flex-1 p-4 bg-success-700 text-neutral-100'>700</div>
      <div class='flex-1 p-4 bg-success-900 text-neutral-100'>900</div>
    </div>
    <p class='text-sm'>
      Success color depicts an emotion of positivity, used across success, complete states.
    </p>
  </div>
  <div>
    <p>Error</p>
    <div class='text-sm rounded-md overflow-hidden mb-8'>
      <div class='flex-1 p-4 bg-error-100 text-neutral-900'>100</div>
      <div class='flex-1 p-4 bg-error-300 text-neutral-900'>300</div>
      <div class='flex-1 p-4 bg-error-500 text-neutral-100'>500</div>
      <div class='flex-1 p-4 bg-error-700 text-neutral-100'>700</div>
      <div class='flex-1 p-4 bg-error-900 text-neutral-100'>900</div>
    </div>
    <p class='text-sm'>
      Error color depicts an emotion of negativity, used across error states.
    </p>
  </div>
</div>

<div class='grid grid-cols-1 lg:grid-cols-4 gap-8 mb-4'>
  <div>
    <p>Neutral</p>
    <div class='text-sm rounded-md overflow-hidden mb-8'>
      <div class='flex-1 p-4 bg-neutral-50 text-neutral-900'>50</div>
      <div class='flex-1 p-4 bg-neutral-100 text-neutral-900'>100</div>
      <div class='flex-1 p-4 bg-neutral-300 text-neutral-900'>300</div>
      <div class='flex-1 p-4 bg-neutral-500 text-neutral-100'>500</div>
      <div class='flex-1 p-4 bg-neutral-700 text-neutral-100'>700</div>
      <div class='flex-1 p-4 bg-neutral-900 text-neutral-100'>900</div>
    </div>
  </div>

  <div>
    <p>Cool grey</p>
    <div class='text-sm rounded-md overflow-hidden mb-8'>
      <div class='flex-1 p-4 bg-coolgrey-50 text-coolgrey-900'>50</div>
      <div class='flex-1 p-4 bg-coolgrey-100 text-coolgrey-900'>100</div>
      <div class='flex-1 p-4 bg-coolgrey-300 text-coolgrey-900'>300</div>
      <div class='flex-1 p-4 bg-coolgrey-500 text-coolgrey-100'>500</div>
      <div class='flex-1 p-4 bg-coolgrey-700 text-coolgrey-100'>700</div>
      <div class='flex-1 p-4 bg-coolgrey-900 text-coolgrey-100'>900</div>
    </div>
  </div>
  <div>
    <p>Warm grey</p>
    <div class='text-sm rounded-md overflow-hidden mb-8'>
      <div class='flex-1 p-4 bg-warmgrey-50 text-warmgrey-900'>50</div>
      <div class='flex-1 p-4 bg-warmgrey-100 text-warmgrey-900'>100</div>
      <div class='flex-1 p-4 bg-warmgrey-300 text-warmgrey-900'>300</div>
      <div class='flex-1 p-4 bg-warmgrey-500 text-warmgrey-100'>500</div>
      <div class='flex-1 p-4 bg-warmgrey-700 text-warmgrey-100'>700</div>
      <div class='flex-1 p-4 bg-warmgrey-900 text-warmgrey-100'>900</div>
    </div>
  </div>
</div>

<p class='text-sm'>
  Different greyscales (neutral, cool, warm) are used for texts, backgrounds, panels,
  form controls, models - for almost everyhing that is grey in an interface.
  More shades of grey helps to create the hierarchy on the page.
</p>

</main>
