

<h3 class='border-b-2 border-neutral-300 text-neutral-500 pb-2'>Display</h3>
<div>
  <h1 class='display1'>Display1</h1>
  <h1 class='display2'>Display2</h1>
</div>

<h3 class='border-b-2 border-neutral-300 text-neutral-500 pb-2'>Titles and subtitles</h3>
<div class='flex flex-col lg:flex-row'>
  <div class='flex-1'>
    <div class='mb-8'>
      <h1>Heading1 bold</h1>
      <h1 class='semibold'>Heading1 semibold</h1>
    </div>
    <div class='mb-8'>
      <h2>Heading2 bold</h2>
      <h2 class='semibold'>Heading2 semibold</h2>
    </div>
    <div class='mb-8'>
      <h3>Heading3 bold</h3>
      <h3 class='semibold'>Heading3 semibold</h3>
    </div>
    <div>
      <h4>Heading4 bold</h4>
      <h4 class='semibold'>Heading4 semibold</h4>
    </div>
  </div>
  <div class='flex-1'>
    <div class='mb-8'>
      <h1 class='sm'>Heading1 small bold</h1>
      <h1 class='sm semibold'>Heading1 small semibold</h1>
    </div>
    <div class='mb-8'>
      <h2 class='sm'>Heading2 small bold</h2>
      <h2 class='sm semibold'>Heading2 small semibold</h2>
    </div>
    <div class='mb-8'>
      <h3 class='sm'>Heading3 small bold</h3>
      <h3 class='sm semibold'>Heading3 small semibold</h3>
    </div>
    <div>
      <h4 class='sm'>Heading4 small bold</h4>
      <h4 class='sm semibold'>Heading4 small semibold</h4>
    </div>
  </div>
</div>

<h3 class='border-b-2 border-neutral-300 text-neutral-500 pb-2'>Body</h3>
<p>Body 16px</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, possimus.</p>
<p>Body small 14px</p>
<p class='sm'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, possimus.</p>
<p>Caption 12px</p>
<p class='caption'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, neque!</p>
