<header class='border-l-8 border-carblue-500 text-carblue-500 -ml-4 p-4 mb-8'>
  <h3 class='text-carblue-500'>Alerts / Banners</h3>
  <p class='text-carblue-700 dark:text-carblue-300'>To communicate a small piece of info, warning etc, at the top of the screen</p>
</header>

<main class='w-4/5 grid grid-cols-1 gap-y-8'>
  <div class='alert alert-info'>
    <div>
      <i-feather name="info"></i-feather>
    </div>
    <div>
      <p class='title'>Pro user feature</p>
      <p class='content'>This is a feature available to Pro users at an additional cost.
        Check out our <a href='#'>pricing information</a> to learn more and activate a free trial.
      </p>
    </div>
  </div>
  <div class='alert alert-info'>
    <div>
      <i-feather name="info"></i-feather>
    </div>
    <div class='action-line'>
      <p class='title'>A new software update is available. See what’s new in version 2.0</p>
      <div class='actions'>
        <button class='text-btn'>View more</button>
        <button class='text-btn'>Dismiss</button>
      </div>
    </div>
  </div>
  <div class='alert alert-warning'>
    <div>
      <i-feather name="info"></i-feather>
    </div>
    <div class='action-line'>
      <p class='title'>A new software update is available. See what’s new in version 2.0</p>
      <div class='actions'>
        <button class='text-btn'>View more</button>
        <button class='text-btn'>Dismiss</button>
      </div>
    </div>
  </div>
  <div class='alert alert-success'>
    <div>
      <i-feather name="check-circle"></i-feather>
    </div>
    <p class='title'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, repellendus.</p>
  </div>
  <div class='alert alert-error'>
    <div>
      <i-feather name="x-circle"></i-feather>
    </div>
    <p class='title'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, repellendus.</p>
  </div>
</main>




