<header class='border-l-8 border-carblue-500 text-carblue-500 -ml-4 p-4 mb-8'>
  <h3 class='text-carblue-500'>Icons</h3>
  <p class='text-carblue-700 dark:text-carblue-300'>A selection of icons imported from Feather Icons</p>
</header>

<p>Link: <a href='https://feathericons.com/' target='_blank'>Feather Icons</a></p>
<p>Link: <a href='https://github.com/michaelbazos/angular-feather' target='_blank'>Feather Angular Github</a></p>


<div class='flex flex-wrap'>
  <i-feather name="alert-circle"></i-feather>
  <i-feather name="alert-triangle"></i-feather>
  <i-feather name="help-circle"></i-feather>
  <i-feather name="info"></i-feather>
  <i-feather name="heart"></i-feather>
  <i-feather name="log-in"></i-feather>
  <i-feather name="log-out"></i-feather>
  <i-feather name="mail"></i-feather>
  <i-feather name="map"></i-feather>
  <i-feather name="map-pin"></i-feather>
  <i-feather name="message-square"></i-feather>
  <i-feather name="message-circle"></i-feather>
  <i-feather name="mic"></i-feather>
  <i-feather name="mic-off"></i-feather>
  <i-feather name="video"></i-feather>
  <i-feather name="video-off"></i-feather>
  <i-feather name="volume-x"></i-feather>
  <i-feather name="volume-2"></i-feather>
  <i-feather name="user"></i-feather>
  <i-feather name="users"></i-feather>
  <i-feather name="user-check"></i-feather>
  <i-feather name="user-plus"></i-feather>
  <i-feather name="user-minus"></i-feather>
  <i-feather name="trash"></i-feather>
  <i-feather name="trash-2"></i-feather>
  <i-feather name="toggle-left"></i-feather>
  <i-feather name="toggle-right"></i-feather>
  <i-feather name="thumbs-up"></i-feather>
  <i-feather name="thumbs-down"></i-feather>
  <i-feather name="settings"></i-feather>
  <i-feather name="send"></i-feather>
  <i-feather name="search"></i-feather>
  <i-feather name="play"></i-feather>
  <i-feather name="pause"></i-feather>
  <i-feather name="moon"></i-feather>
  <i-feather name="sun"></i-feather>

  <i-feather name="lock"></i-feather>
  <i-feather name="unlock"></i-feather>
  <i-feather name="archive"></i-feather>
  <i-feather name="at-sign"></i-feather>
  <i-feather name="gift"></i-feather>
  <i-feather name="star"></i-feather>
  <i-feather name="award"></i-feather>
  <i-feather name="bar-chart"></i-feather>
  <i-feather name="bar-chart-2"></i-feather>
  <i-feather name="list"></i-feather>
  <i-feather name="menu"></i-feather>
  <i-feather name="more-horizontal"></i-feather>
  <i-feather name="more-vertical"></i-feather>
  <i-feather name="battery"></i-feather>
  <i-feather name="battery-charging"></i-feather>
  <i-feather name="bell"></i-feather>
  <i-feather name="bell-off"></i-feather>
  <i-feather name="book-open"></i-feather>
  <i-feather name="book"></i-feather>
  <i-feather name="bookmark"></i-feather>
  <i-feather name="image"></i-feather>
  <i-feather name="box"></i-feather>
  <i-feather name="briefcase"></i-feather>
  <i-feather name="calendar"></i-feather>
  <i-feather name="home"></i-feather>
  <i-feather name="smile"></i-feather>
  <i-feather name="meh"></i-feather>
  <i-feather name="camera"></i-feather>
  <i-feather name="camera-off"></i-feather>
  <i-feather name="music"></i-feather>
  <i-feather name="clipboard"></i-feather>
  <i-feather name="clock"></i-feather>
  <i-feather name="coffee"></i-feather>
  <i-feather name="truck"></i-feather>
  <i-feather name="shopping-cart"></i-feather>
  <i-feather name="shopping-bag"></i-feather>
  <i-feather name="layout"></i-feather>
  <i-feather name="columns"></i-feather>
  <i-feather name="grid"></i-feather>
  <i-feather name="credit-card"></i-feather>
  <i-feather name="database"></i-feather>
  <i-feather name="disc"></i-feather>
  <i-feather name="dollar-sign"></i-feather>
  <i-feather name="download"></i-feather>
  <i-feather name="upload"></i-feather>
  <i-feather name="droplet"></i-feather>
  <i-feather name="edit"></i-feather>
  <i-feather name="edit-2"></i-feather>
  <i-feather name="edit-3"></i-feather>
  <i-feather name="external-link"></i-feather>
  <i-feather name="eye"></i-feather>
  <i-feather name="eye-off"></i-feather>
  <i-feather name="folder"></i-feather>
  <i-feather name="tag"></i-feather>
  <i-feather name="file-text"></i-feather>
  <i-feather name="file"></i-feather>
  <i-feather name="film"></i-feather>
  <i-feather name="headphones"></i-feather>
  <i-feather name="monitor"></i-feather>
  <i-feather name="tv"></i-feather>
  <i-feather name="tablet"></i-feather>
  <i-feather name="smartphone"></i-feather>
  <i-feather name="server"></i-feather>
  <i-feather name="printer"></i-feather>
  <i-feather name="save"></i-feather>
  <i-feather name="flag"></i-feather>
  <i-feather name="layers"></i-feather>
  <i-feather name="power"></i-feather>

  <i-feather name="arrow-down-circle"></i-feather>
  <i-feather name="arrow-left-circle"></i-feather>
  <i-feather name="arrow-right-circle"></i-feather>
  <i-feather name="arrow-up-circle"></i-feather>

  <i-feather name="arrow-down-left"></i-feather>
  <i-feather name="arrow-down-right"></i-feather>
  <i-feather name="arrow-up-left"></i-feather>
  <i-feather name="arrow-up-right"></i-feather>
  <i-feather name="arrow-down"></i-feather>
  <i-feather name="arrow-up"></i-feather>
  <i-feather name="arrow-left"></i-feather>
  <i-feather name="arrow-right"></i-feather>

  <i-feather name="minus-circle"></i-feather>
  <i-feather name="minus"></i-feather>
  <i-feather name="plus"></i-feather>
  <i-feather name="plus-circle"></i-feather>
  <i-feather name="x"></i-feather>
  <i-feather name="x-circle"></i-feather>
  <i-feather name="x-square"></i-feather>
  <i-feather name="check-circle"></i-feather>
  <i-feather name="check-square"></i-feather>
  <i-feather name="check"></i-feather>
  <i-feather name="circle"></i-feather>
  <i-feather name="chevron-up"></i-feather>
  <i-feather name="chevron-down"></i-feather>
  <i-feather name="chevron-left"></i-feather>
  <i-feather name="chevron-right"></i-feather>
  <i-feather name="chevrons-up"></i-feather>
  <i-feather name="chevrons-down"></i-feather>
  <i-feather name="chevrons-left"></i-feather>
  <i-feather name="chevrons-right"></i-feather>
  <i-feather name="skip-back"></i-feather>
  <i-feather name="skip-forward"></i-feather>
  <i-feather name="link"></i-feather>
  <i-feather name="link-2"></i-feather>
  <i-feather name="triangle"></i-feather>
  <i-feather name="square"></i-feather>
  <i-feather name="trending-up"></i-feather>
  <i-feather name="trending-down"></i-feather>
  <i-feather name="slash"></i-feather>

  <i-feather name="share"></i-feather>
  <i-feather name="share-2"></i-feather>
  <i-feather name="wifi"></i-feather>
  <i-feather name="hash"></i-feather>
  <i-feather name="globe"></i-feather>
  <i-feather name="code"></i-feather>
  <i-feather name="codepen"></i-feather>
  <i-feather name="github"></i-feather>
  <i-feather name="facebook"></i-feather>
  <i-feather name="instagram"></i-feather>
  <i-feather name="linkedin"></i-feather>
  <i-feather name="twitter"></i-feather>
  <i-feather name="youtube"></i-feather>
  <i-feather name="slack"></i-feather>
</div>

