:root
  // parmary
  // --blue-100: #D1E1FD
  // --blue-300: #749CF3
  // --blue-500: #1D4ED8
  // --blue-700: #0E2B9B
  // --blue-900: #051467
  --blue-100: #CAFDFA
  --blue-300: #62E9F5
  --blue-500: #00ACDE
  --blue-700: #00649F
  --blue-900: #00336A

  // secondary
  // --yellow-100: #FEF9DA
  // --yellow-300: #FCE88F
  // --yellow-500: #F7CE46
  // --yellow-700: #B18923
  // --yellow-900: #76540D
  --yellow-100: #FFF8CC
  --yellow-300: #FFE566
  --yellow-500: #FFC900
  --yellow-700: #B78800
  --yellow-900: #936A00

  // success
  // --green-100: #CDFBDA
  // --green-300: #69EAA6
  // --green-500: #10B981
  // --green-700: #088574
  // --green-900: #035358
  --green-100: #CAFCDB
  --green-300: #60F1AE
  --green-500: #00D199
  --green-700: #00968B
  --green-900: #005864

  // error
  // --red-100: #FEE2E2
  // --red-300: #FEA5A5
  // --red-500: #EF4444
  // --red-700: #B91C1C
  // --red-900: #7F1D1D
  --red-100: #FDCED4
  --red-300: #F86E99
  --red-500: #E8117F
  --red-700: #A70879
  --red-900: #6F0365

  // neutral cool
  --neutral-100: #E0E0E0
  --neutral-300: #C2C2C2
  --neutral-500: #959595
  --neutral-700: #6F6F6F
  --neutral-900: #484848

  // cool grey
  --coolgrey-100: #DAE1E7
  --coolgrey-300: #B8C2CC
  --coolgrey-500: #8795A1
  --coolgrey-700: #606F7B
  --coolgrey-900: #3D4852


  // warm grey
  --warmgrey-100: #E7E2DA
  --warmgrey-300: #CCC5B8
  --warmgrey-500: #A19887
  --warmgrey-700: #7B7260
  --warmgrey-900: #524B3D
